
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0 auto  0 auto;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
.contet{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

height: 400px;
}
.card{
  border: 1px solid black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 20px;
background-color: #ffff;

}



.img img{
  height: 150px;

}